[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Arnoldo29
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Arnoldo29
	label-Verified = -1..+1 group user/Arnoldo29
	push = group user/Arnoldo29
	read = group user/Arnoldo29
	rebase = group user/Arnoldo29
	removeReviewer = group user/Arnoldo29
	submit = group user/Arnoldo29
[access "refs/heads/*"]
	create = group user/Arnoldo29
	push = +force group user/Arnoldo29
	pushMerge = group user/Arnoldo29
	read = group user/Arnoldo29
[access "refs/tags/*"]
	push = group user/Arnoldo29
	push = +force group user/Arnoldo29
